@*@model CalculatorSite.Models.CalculatorModel*@
@{
    ViewBag.Title = "Calculator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Calculator</h2>
<br />

<label for="num1">Num 1:</label>
<input id="num1" type = "text" />
<br />

<label for="num2">Num 2:</label>
<input id="num2" type="text" />
<br />

<label for="answer">Answer:</label>
<input id="answer" type="text" />
<br /><br />

<input type="button" id="add" value="Add"/>
<input type="button" id="subtract" value="Subtract" />
<input type="button" id="multiply" value="Multiply" />
<input type="button" id="divide" value="Divide"/>

<script type="text/javascript">
    $("#add").click(function () {
        $.ajax({
            url: "/Calculator/Add?num1=" + $("#num1").val() + "&num2=" + $("#num2").val(),
            type: "POST",
            success: function (answer) {
                $("#answer").val(answer);
            },
            error: function (xhr, ajaxOptions, thrownError) { console.log(xhr.responseText); }
        });
    });
    $("#subtract").click(function () {
        $.ajax({
            url: "/Calculator/Subtract?num1=" + $("#num1").val() + "&num2=" + $("#num2").val(),
            type: "POST",
            success: function (answer) {
                $("#answer").val(answer);
            },
            error: function (xhr, ajaxOptions, thrownError) { console.log(xhr.responseText); }
        });
    });
    $("#multiply").click(function () {
        $.ajax({
            url: "/Calculator/Multiply?num1=" + $("#num1").val() + "&num2=" + $("#num2").val(),
            type: "POST",
            success: function (answer) {
                $("#answer").val(answer);
            },
            error: function (xhr, ajaxOptions, thrownError) { console.log(xhr.responseText); }
        });
    });
    $("#divide").click(function () {
        $.ajax({
            url: "/Calculator/Divide?num1=" + $("#num1").val() + "&num2=" + $("#num2").val(),
            type: "POST",
            success: function (answer) {
                $("#answer").val(answer);
            },
            error: function (xhr, ajaxOptions, thrownError) { console.log(xhr.responseText); }
        });
    });

</script>